@model QuanLyDoAn.Models.Entities.GiangVien

@{
    ViewBag.Title = "Xóa giảng viên";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa giảng viên này?</h3>
<div>
    <h4>Giảng viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MSGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về", "Index")
        </div>
    }
</div>
