@model QuanLyDoAn.Models.Entities.BoMon

@{
    ViewBag.Title = "Chi tiết bộ môn";
}

<h2>Chi tiết</h2>

<div>
    <h4>Bộ môn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaBM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaBM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenBM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.MaBM }, new {@class="btn btn-primary",@role="button" }) |
    @Html.ActionLink("Quay về", "Index")
</p>
